/* prefijos

# ES PARA ID
.  ES PARA CLASS

-webkit-  Google Chrome, Safari, Navigator
-moz-  Firefox
-o- Opera
-ms- Internet explorer Edge
-khtml-  Konqueror

*/

/*

Responsive design y mobile first
La clave de responsive design es que no aparezca la barra horizontal de
@media screen and (min-width: 480px){
	
}
/* PARA MOVIL HORIZONTAL: */ /*
@media screen and (min-width: 480px){
	
}
/* PARA TABLET: */ /*
@media screen and (min-width: 767px){
	
}
/* PARA MONITORES: */ /*
@media screen and (min-width: 950px){
	
}

*/




:root {
  --color-primario: #62758A; 
  --color-secundario: #E9ECED;
  --color-terciario: #042444;
}


*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;

}

body{
	background: var(--color-primario);
	font-size: 16px;
	font-family: 'aldo', sans-serif;
	position: relative;
	overflow: hidden;
	
}

header{
	height: 10vh;
}




div#container{
	height:  83vh;
}

footer{
	height: 15vh;
}


header	{
	position: sticky;   
	width: 100%;
	background: var(--color-secundario);
	display: grid;
	grid-template-columns:20% 50% 30%;
	row-gap: 10px;
	justify-items: stretch;
	aling-items:center;
	overflow:hidden;

	

}


div#branding{
/*  background: var(--color-primario);*/
	display: flex;
	flex-direction:row;
	justify-content: space-evenly;
}

header nav{
/*	background: pink;*/
	height: 100%;
/*	display:grid;
	place-items: center; */

}

header nav  ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-end;
		margin:0px;
		
		padding: 0px;
		position: relative;
	}


	header nav   ul li{
		display: inline-block;
		font-size: 1.2em;
		font-family: monospace;
		width: 70px;
		margin: 0px 0px;
		position: relative;
		top: 1em;
	}




 div#login{
 	height: 100%;
	display:grid;
	place-items:center;
/*	background: blue;*/
}


img#logo{
	height: 40px;
	width: auto;
	align-self:center;
/*	aspect-ratio: 1/1;*/
}

a{
	text-decoration: none;
	color: var(--color-terciario);
}


div#branding a h1{
	margin:0px;
	font-size:2em;
}



footer	{
	
	background: var(--color-secundario);
	display: flex;
	flex-direction: row;
	font-family: arial;
/*	font-size: 0.4em;*/
	color: white;
	margin-top: 10px;

}


footer p#copyright{
	
	margin-left: 2px;
	}

	footer p#who{
	position: absolute;
	right: 10px;
	color:white;
}


#footer_middle{
	display: flex;
	flex-direction: row;
}



p.text_footer{
margin-left: 4px;
text-align: center;
}

footer p  a{
	color:white;
	text-decoration: none;
}




#login input[type=text], #login input[type=password] {
  padding: 5px;
  font-family: monospace;
  
  font-size: 15px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}


#login form button {
	font-family: monospace;
  padding: 6px;
  background: #ddd;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally 
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
*/
div#contenido{
	height: 100%;
	display:grid;
	grid-template-columns: 10% 75% 15%;
	grid-template-rows: 60% 40%;
	gap:3px;
	margin-top:5px;
	margin-right:3px;
	/*align-items: stretch;
	justify-items: stretch;*/*/

}
 

 
aside#nav_lateral{
	background: var(--color-terciario); 
	grid-row: span 2;
	display: grid;
	grid-template-rows: 5% 25% 20% 50%;
	gap:1px;
	
}

div#btn_free, div#btn_premium{
	display: flex;
	flex-direction: column;
	justify-content:start;
	align-content: center;
	padding: 5px;


}
button{
	margin:5px;
	font-family: monospace;
	cursor: pointer;
}

div#canvas{
	grid-row:span 2;
	grid-column: span 2;
	display:grid;
	place-items: center;
	 
}

div#canvas div{
	width:100%;
	height:100%;
	display:none;
}

/*.item{
	background:green;
}*/

div#publicidad{
/*	background:violet;*/
	border: 1px solid white;
}

div#publicidad legend{
	text-align: center;
}

.powerbi{
	width:80%;
	aspect-ratio:16/9;
	background:green;

}

.publi{
	width:90%;
	

}


table#panel_resultados{
	width:80%;
	height: auto;
	border-collapse: collapse;
	margin-top:20px;
	margin-left:20px;
}

table tr{
	height: 70px;
	background: #333;
	font-family: monospace;
}

.table_titulo{
		height:40px;
		font-size: 1.1em;
		color: white;
		font-family: 'Open Sans', sans-serif;
		background: #AD5129;
		font-weight: bold;
		text-align: center;
		border-bottom: 2px solid white;
	}

	td.col1 {
		width: 5%;
		padding:5px;
		margin:2px;

	}

	td.col2 {
		width: 5%;
		color:white;
		font-size:0.8em;
		padding:2px;
	}

	td.col3 {
		width: 10%;
		color:white;
		font-size:0.8em;
		padding:2px;
	}

	td.col4 {
		width: 15%;
		color:white;
		font-size:1em;
		padding:2px;
		text-align:center;
	}

	td.col5 {
		width: 15%;
		color:white;
		font-size:0.8em;
		padding:2px;
		text-align:center;
	}

	td.col6 {
		width: 40%;
		color:white;
	
	}

	td.brd_gs {
		border-bottom: 1px solid #808080;
	}


	.worlds{
		background-image: url(https://cdn.pandascore.co/images/league/image/297/220px-Worlds_2020.png);
		background-repeat: no-repeat;
		background-size: contain;
	}


	.bds{
		background-image: url(https://cdn.pandascore.co/images/team/image/128267/team_bd_slogo_square.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	.gg{
		background-image: url(https://cdn.pandascore.co/images/team/image/1535/1200px_goldenguardians_logo.svg.png);
		background-repeat: no-repeat;
		background-size: contain;
	}


	.ctbc{
		background-image: url(https://cdn.pandascore.co/images/team/image/130355/ctbc_flying_oysterlogo_square.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

.deto{
		background-image: url(https://cdn.pandascore.co/images/team/image/89/detonation-focusme-fpnjh4v7.png);
		background-repeat: no-repeat;
		background-size: contain;
	}


.talon{
		background-image: url(https://cdn.pandascore.co/images/team/image/126702/220px_psg_talonlogo_square.png);
		background-repeat: no-repeat;
		background-size: contain;
	}


.movistar{
		background-image: url(https://cdn.pandascore.co/images/team/image/132496/movistar_r7logo_square.png);
		background-repeat: no-repeat;
		background-size: contain;
	}



div#canvas div{
	display:none;
}






	div.pr_rs{
		
		display:block;
		place-items:center;
		background: red;

	}



div#id01{
	display:none;
}



div.container input[type=text], div.container  input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

div.container	  button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


div.container button:hover {
  opacity: 0.8;
}



img.logo_login{
	widht:100px;
	height: 100px; 
	/*	width: 40%;*/
  border-radius: 70px;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5px auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */

}


.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
