/* prefijos

# ES PARA ID
.  ES PARA CLASS

-webkit-  Google Chrome, Safari, Navigator
-moz-  Firefox
-o- Opera
-ms- Internet explorer Edge
-khtml-  Konqueror

*/



/*  Comandos flex
	display:flex;
	<--display: block ; <-- default
	<--display: inline-block; | inline; grid   <-- other values

	flex-direction: row; <-- default
	<--flex-direction: row; <-- default
	<-- flex-direction: column ; | row-reverse | column-reverse  ;

	justify-content: flex-start; 
	<--justify-content: flex-start; <-- default
	<--justify-content: flex-end; |center |space-around |space-between <-- otros valores

	align-items: center;   
	<--align-items: stretch;   <-- default
	<--align-items: flex-start; |flex-end; |center   <-- otros valores

	flex-wrap: nowrap; <-- default
	<--flex-wrap: nowrap; <-- default
	<--flex-wrap: wrap; |wrap-reverse;  <-- otros valores
*/

/*

Responsive design y mobile first
La clave de responsive design es que no aparezca la barra horizontal de
@media screen and (min-width: 480px){
	
}
/* PARA MOVIL HORIZONTAL: */ /*
@media screen and (min-width: 480px){
	
}
/* PARA TABLET: */ /*
@media screen and (min-width: 767px){
	
}
/* PARA MONITORES: */ /*
@media screen and (min-width: 950px){
	
}

*/

:root {
  --color-primario: #555; 
  --color-secundario: #111;
}

body{
	background: var(--color-primario);
	font-size: 16px;
	font-family: 'aldo', sans-serif;
	position: relative;
	
}


header	{
	position: sticky;   
	width: 100%;
	background: var(--color-secundario);
	height:5vh;
	padding-left: 20px;
}


div#container{
	height: 80vh;
}



footer	{
	border: 1px solid white;
	background: #233D58;
	display: flex;
	flex-direction: row;
	font-family: arial;
	font-size: 0.4em;
	color: white;
	height:5vh;
}







/*


header h1{
	display: none;

}


nav{
display: inline-block;
vertical-align: middle;
width: 60%;
height: 9%;


}







header  nav figure {
	margin: 0px;
	height: 40px;
	width: 30px;
	vertical-align: middle;
}


header  nav figure img{
	margin: 0px;
	height:30px};
	vertical-align:middle;
}

p{
color : red;
}


header nav #card_menu{
	display:none;
	position: relative;
	width: 230px;
	height: 500px;
	background: white;
	top: -30px;
	left:0px;
	border-right: 3px solid #AFAEAE;
	z-index: 999;
	padding-bottom: 50px;
}




#card_premium{
	display: none;
}









footer p#copyright{
	
	margin-left: 2px;
	}

	footer p#who{
	position: absolute;
	right: 10px;
	color:white;
}


#footer_middle{
	display: flex;
	flex-direction: row;
}

p.text_footer{
margin-left: 4px;
text-align: center;
}

footer p  a{
	color:white;
	text-decoration: none;
}



















@media screen and (min-width: 480px){

	footer	{
	
	font-size: 0.8em;
	
	}

footer p#copyright{
	
	margin-left: 4px;
	}

	footer p#who{
	position: absolute;
	right: 15px;
	}

	p.text_footer{
	margin-left: 4px;
	}

}











@media screen and (min-width: 767px){


	header h1{
		display: inline-block;
		margin: 0px;
		height:92%;
		width: 15%;
		margin:0px;
		margin-left:15x;
		line-height: 50px;
		vertical-align: middle;
		min-width: 220px;
		
	}


	header h1 > * {
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		cursor: pointer;
		color: white;
		font-size: 0.7em;
		margin: 0px 2px;
	}

	header a figure{
		
		vertical-align:middle;
		height:45px;
		width: 45px;
		margin: 0px;
	}

	header a figure img{
		width:100%;
		border-radius: 20px;
	}


	header h1 a {
		height: 48px;
		vertical-align: middle;
		
		margin:0px;
	}



	header nav {
		position: relative;
		height:92%;
		width:65%;
		vertical-align: bottom;
	}

	header nav #showMenu, #p_exit,header nav div figure ,#logo_card{
		display: none;
	}

	header nav #card_menu{
		display: inline-block;
		background: none;
		position: relative;
		width: 80%;
		height: 100%;
		border-right: none;
		top: 0px;
		text-align:center;
		padding:1px;
	}

	header nav #card_menu ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		margin:0px;
		<margin-top: -15px;
		padding: 0px;
		position: relative;
	}

	header nav #card_menu ul li{
		display: inline-block;
		width: 70px;
		margin: 0px 0px;
		position: relative;
		top: 1em;
	}


	header nav #card_menu ul li a, header nav #card_premium a{
		color: white;
		text-decoration: none;
		list-style: none;
		line-height: 48px;
		font-size:1.4em;
	}

	header nav #card_menu ul li a#a_home{
			color: #233D58; 
			border-bottom: 3px solid #233D58 ;
	} 


	#home:hover,#noticias:hover, #foro:hover, #enlaces:hover, #fandom:hover{
			color: #233D58; 
			border-bottom: 3px solid #233D58 ;
			text-shadow: 0px 0px 7px darkgray;
	} 

	header nav #card_premium{
		margin:0px;
		display: inline-block;
		position: absolute;
		right:5px;

	}

	button{
		
		height: 30px;
		border: 1px solid white;
		border-radius: 10px;
		background:#233D58;
		color:white;
		cursor: pointer;
		
	}

	div#flag figure{
		position: relative;
		right:5px;
		height:40px;
		width:40px;
		
	}

	

		footer	{
	font-size: 1em;
	}

	footer p#copyright{
	margin-left: 7px;
	font-size: 0.9em;
	}

	footer p#who{
	position: absolute;
	right: 15px;
	}

	p.text_footer{
	color: red;
	margin: auto 8px;
	}	


#cookies:hover,#a_who:hover,#privacidad:hover,#legal:hover{
			color: red; 
			
	} 









}

@media screen and (min-width: 950px){

	footer	{
	font-size: 1em;
	}

	footer p#copyright{
	margin-left: 7px;
	font-size: 0.9em;
	}

	footer p#who{
	position: absolute;
	right: 20px;
	}

	p.text_footer{
	color: red;
	margin: auto 15px;
	}

}






















*/